@import "tailwindcss";

@theme {
  --color-git-graph-bg: #f0f0f0;
}

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: 'Courier New', Courier, monospace; /* Terminal vibe */
}
